.rbButton{
    padding: 20px;
}
.btnCustomize{
    color:#fff;
    background-color:#0ab0d1;
    margin:5px;
    
}
.example-full-width {
    width: 100%;
  }
.groupRadio{
    width:100%;
    float:left;
}