
  <div class="row">
    <div class="col-xs-12">
      <h3><a routerLink="/pms-settings">Control Panel</a> / Room Amenities - Add/Edit</h3>
      <hr>
    </div>
  </div>

  <form [formGroup]="formRoomAmenities" *ngIf="(_roomAmenities | async) ? _roomAmenities :true" >
      <mat-dialog-content>
      <mat-form-field class="example-full-width">
        <input
        matInput
        formControlName="title"
        placeholder="Title"
        />
        <mat-error *ngIf="formRoomAmenities.get('title').hasError('required')">
          <span style='color:red'>
            Title is required!
          </span>
        </mat-error>
      </mat-form-field><br/>
      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <textarea
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="2"
        cdkAutosizeMaxRows="5"
        formControlName="description">
        </textarea>
      </mat-form-field><br/>
      <mat-checkbox
      matInput
      formControlName="status"
      labelPosition="before">
        Status
      </mat-checkbox><br/>
      <input formControlName="id" type="hidden"/><br><br>
    
      </mat-dialog-content>
      <mat-dialog-actions>
          <div class="button-row">
              <button mat-raised-button class="btnCustomize" type="submit" (click)="addData()" [disabled]="!formRoomAmenities.valid ">Save</button>
              <button mat-raised-button class="btnCustomize" [mat-dialog-close]="true">Close</button>
              
          </div>
      </mat-dialog-actions>
    </form>
