<div class="row">
<div class="col-xs-12">
    <h3><a routerLink="/pms-settings">Control Panel</a> / Adjustment Reason List - Add/Edit</h3>
    <hr>
  </div>
</div>

<form [formGroup]="formAdjustmentReasonLists" *ngIf="(_adjustmentReasonLists | async) ? _adjustmentReasonLists :true" >

  <mat-dialog-content>

    <mat-form-field class="example-full-width">
      <input
        matInput
        formControlName="code"
        placeholder="Adjustment Reason Code"
        />
        <mat-error *ngIf="formAdjustmentReasonLists.get('code').hasError('required')">
          <span style='color:red'>
            Adjustment Reason Code is required!
          </span>
        </mat-error>
    </mat-form-field><br/>

    <mat-form-field class="example-full-width">
      <input
        matInput
        formControlName="title"
        placeholder="Adjustment Reasons "
        />
        <mat-error *ngIf="formAdjustmentReasonLists.get('title').hasError('required')">
          <span style='color:red'>
            Adjustment Reason title is required!
          </span>
        </mat-error>
    </mat-form-field><br/>

    <input formControlName="id" type="hidden"/><br><br>

  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="button-row">
        <button mat-raised-button class="btnCustomize" type="submit" (click)="addData()" [disabled]="!formAdjustmentReasonLists.valid ">Save Adjustment Reason</button>
        <button mat-raised-button class="btnCustomize" [mat-dialog-close]="true">Cancel</button>
        
    </div>
</mat-dialog-actions>

</form>