<div class="row">
  <div class="col-xs-12">
    <h3><a routerLink="/pms-settings">Control Panel</a> / Invoice </h3>
    <hr>
  </div>
</div>

<form>
  <mat-dialog-content>
    <div class="invoiceContent">
      <span class="leftContent">
        Current Invoice Number:
      </span>
      <span class="rightContent">
        0005500
      </span>
    </div><br/><br/>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="button-row">
       
        <button mat-raised-button class="btnCustomize" (click)="goBack()">Cancel</button>
        
    </div>
</mat-dialog-actions>
</form>