<!-- Contact Form -->
<div id="login_box">
  <div class="body main">
    <form id="login_form" name="login_form" class="login-frm" autocomplete="off" novalidate="">

      <input type="text" name="username" class="input-lg form-control" placeholder="Username" required="">
      <br>
      
      <input type="password" name="password" class="input-lg form-control" placeholder="Password"   autocomplete="off" required="">
      <br>
      
      <button class="btn btn-lg btn-primary btn-block" id="send" type="button" (click)="onSubmit()">
      <div  class="loading-small ng-hide"></div>
      LOG IN
      </button>

    </form>
  </div>
</div>