.btnCustomize{
    color:#fff;
    background-color:#0ab0d1;
}
.example-full-width {
    width: 100%;
  }
.rbButton{
    padding: 20px;
}
.ddlFaxTax{
    width: 230px;
    padding:40px;
}
.chbPadding{
    padding:20px;
}
.chbDiv{
    margin-top:10px;
}
