<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3><a routerLink="/pms-settings">Control Panel</a> / Revenue Account Rules</h3>
      <hr>
    </div>
  </div>

<table [class.mat-elevation-z8]="isActive" class="myTable">
  <thead>
  <tr>
    <th>Revenue Label</th>
    <th>Revenue Category</th>
    <th>Rule Description</th>
  </tr>
</thead>
  <tbody>
  <tr >
      <td *ngFor="let r of everything; let i=index">
        <ng-container *ngIf="i==0">
          <ng-container class="pera" *ngFor="let pera of r; let j=index">
              <span class="rowTable">{{pera.title}}</span><br><br/>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="i==1">
            <ng-container class="pera" *ngFor="let pera of r; let j=index">
                <span class="rowTable">{{pera.title}}</span><br><br/>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="i==2">
              <ng-container class="pera" *ngFor="let pera of r; let j=index">
                  <span class="rowTable">{{pera.title}}</span><br><br/>
              </ng-container>
            </ng-container>
      </td>
       
    <!-- <ng-container *ngIf="i==1">
        <td *ngFor="let o of r; let j=index">
            {{o.title}}
        </td>
      </ng-container>
      <ng-container *ngIf="i==2">
          <td *ngFor="let o of r; let j=index">
              {{o.title}}
          </td>
        </ng-container> -->
    
    
  </tr>


    </tbody>
</table>

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <button mat-raised-button class="customBtn">Save Change</button>
      <button mat-raised-button (click)="goBack()" class="customBtn">Cancel</button>
    </div>
    <div class="col-lg-3"></div>
  </div>
  <!-- <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container 
  *ngFor="let column of columns; let i=index"
  [matColumnDef]="column.propertyName">

      <mat-header-cell *matHeaderCellDef>{{column.title}}</mat-header-cell>
      <mat-cell *matCellDef="let row; ">
        
        <ng-container *ngIf="column.propertyName=='title1' && i==0 ">
        <span *ngFor="let r of row; let j=index ">
        {{row[j]['title']}}
      </span>
    </ng-container>

    <ng-container *ngIf="column.propertyName=='title2' && i==1">
        <span *ngFor="let r of row; let j=index">
        {{row[j]['title']}}
      </span>
    </ng-container>

    <ng-container *ngIf="column.propertyName=='title3' && i==2">
        <span *ngFor="let r of row; let j=index">
        {{row[j]['title']}}
      </span>
    </ng-container>
      </mat-cell>

</ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
  </mat-table> -->