<div class="container">
    <div class="row">
        <div class="col-xs-12">
          <h3><a routerLink="/pms-settings">Control Panel</a> / POS Products</h3>
          <hr>
        </div>
      </div>

      <div class="row">

          <div class="col-xs-3">
              <form>
                  <mat-form-field>
                    <input 
                    matInput 
                    placeholder="Search" 
                    class="custom-field"
                    (keyup)="onSearch(filter.value)"
                    #filter
                    >
                  </mat-form-field>
              </form>
            </div>

            <div class="col-xs-3 pull-right" id="showHideColumns">
                <button
                   mat-raised-button 
                  (click)="openColumnList()">
                  SHOW / HIDE COLUMNS
                </button>
          
                <mat-selection-list
                [@showList]="isVisibleColumnList">
                    <mat-list-option
                    *ngFor="let column of getEditableColumns()"
                    (click)="toggleColumn(column.propertyName, chbColumn.selected)"
                    #chbColumn
                    [selected]="displayedColumns.includes(column.propertyName)">
                      {{column.title}}
                    </mat-list-option>
                </mat-selection-list>
              </div>
      </div>

      <div class="row">
          <form [formGroup]="filterForm">
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3">
              <mat-select [ngModel]="default.posPointsOption" formControlName="posPoint">
                <mat-option [value]="default.posPointsOption" id="0" (onSelectionChange)="getDataByPoint($event,default.allPoints)">- All Pos Points -</mat-option>
                <mat-option *ngFor = "let option of posPoints" [value]="option.id" (onSelectionChange)="getDataByPoint($event,option.title)">
                  {{option.title}}
                </mat-option>
              </mat-select>
        </div>
        <div class="col-md-3">
            <mat-select [ngModel]="default.posCategoriesOption" formControlName="category">
                <mat-option [value]="default.posCategoriesOption" id="0" (onSelectionChange)="getDataByCategory($event,default.allCategories)">- All Pos Categories -</mat-option>
              <mat-option *ngFor="let option of posCategories" [value]="option.id" [id]="option.id" (onSelectionChange)="getDataByCategory($event,option.title)" >
                {{option.title}}
              </mat-option>
            </mat-select>
        </div>
        <!-- <div class="col-md-3">
            <mat-select value="0" (selectionChange)="getDataByStatus($event.value)">
                <mat-option value="0">Active</mat-option>
                <mat-option value="1">Inactive</mat-option>
                <mat-option value="2">All</mat-option>
              
              </mat-select>
        </div> -->
      </form>
      </div><br>

    <mat-table 
    [dataSource]="dataSource"
    class="mat-elevation-z8 tablePosPoints"
    matSort
    [matSortDisableClear]="true">

    <ng-container 
    *ngFor="let column of columns" 
    [matColumnDef]="column.propertyName">
  
      <!--TH-->
    <mat-header-cell 
    *matHeaderCellDef
    mat-sort-header 
    [disabled]="isFixedColumn(column.propertyName)">
         {{column.title}}
    </mat-header-cell>

     <!--TD-->
     <mat-cell
    class="tablePadding" 
    *matCellDef="let row">
         <!--value columns => text -->
         <ng-container
         *ngIf="!isFixedColumn(column.propertyName)">

         <span *ngIf="column.propertyName=='status' && row[column.propertyName]===true">
            <mat-checkbox
            checked='true'></mat-checkbox>
         </span>
        <span *ngIf="column.propertyName=='status' && row[column.propertyName]===false">
            <mat-checkbox
            ></mat-checkbox>
        </span>
        <span *ngIf="column.propertyName=='category'">
            {{row[column.propertyName]['title']}}
        </span>
        <span *ngIf="column.propertyName=='posPoint'">
            {{row[column.propertyName]['title']}}
        </span>
        <span *ngIf="column.propertyName=='id' ||
         column.propertyName=='name' || 
         column.propertyName=='title' || 
         column.propertyName=='price' ||
         column.propertyName=='description'
         ">
            {{row[column.propertyName]}}
        </span>
        </ng-container>

        <ng-container 
        *ngIf="column.propertyName == 'select'" class="tableSelectColumn">
          <mat-checkbox 
          (click)="$event.stopPropagation()"
          (change)="$event ? selectedRows.toggle(row) : null"
          [checked]="selectedRows.isSelected(row)">
          </mat-checkbox>
        </ng-container>

        <ng-container *ngIf="column.propertyName=='action'" >
            <button 
            mat-button
            (click)="openAddEditDialog(row.id)">
               Edit
            </button> 
   
         </ng-container>

     </mat-cell>    
    </ng-container>

    <mat-header-row 
      *matHeaderRowDef="displayedColumns">
    </mat-header-row>
    <mat-row class="tableRow"
      *matRowDef="let row; columns: displayedColumns;">
    </mat-row>

    </mat-table>

    <mat-paginator
    [pageSizeOptions]="pageSizeOptions">

    </mat-paginator>

    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <button mat-raised-button (click)="openAddEditDialog()" class="customBtn">Add a POS Products</button>
          <button mat-raised-button (click)="onGroupDelete()" class="customBtn">Delete a POS Products</button>
          <button mat-raised-button (click)="goBack()" class="customBtn">Cancel</button>
        </div>
        <div class="col-lg-3"></div>
      </div>
</div>