<!-- MENUUUUUU -->
<ul class="nav navbar-nav navbar-right menu">
    <li class="dropdown" *ngFor="let link of _links">
      <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        {{ link.name }}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-left" role="menu">
        <li *ngFor="let childLink of link.children">
            <a routerLink="{{ childLink.path }}">
              {{ childLink.name }}
          </a>
        </li>
      </ul>
    </li>
</ul>
